.banner-container {
  width: auto;
  display: grid;
  justify-content: center;
}

.banner__title {
  width: auto;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.banner__image {
  width: 100%;
}

.banner__subtitle {
  font-weight: 600;
  font-size: 24px;
  width: 90%;
  text-align: center;
  color: #333333;
}

.banner__text {
  font-weight: 500;
  width: 87%;
  font-size: 15px;
  color: #333333;
  text-align: center;
  margin-left: 15px;
}

.card-container {
  display: grid;
  width: auto;
}

.card-general {
  width: auto;
  border: 1px solid #000;
  display: grid;
  place-content: center;
  margin-bottom: 10px;
}

.card__imagen {
  width: 100%;
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  width: auto;
  color: #333333;
  text-align: center;
}

.button--form {
  display: grid;
  place-content: center;
  width: auto;
}

.butn {
  width: 140px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
  background-color: #2196f3;
  border: 1px solid transparent;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav__header {
  background-color: rgba(238, 238, 238, 0.9333333333);
  padding-inline: 1rem;
}

.toggle {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  cursor: pointer;
}

.toggle .menu {
  height: 2rem;
  margin-top: 0.2rem;
}

.toggle .close {
  display: none;
  height: 2.3rem;
  margin-right: 0.2rem;
}

.nav-checkbox {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu li {
  display: none;
  padding: 1rem;
  list-style: none;
}

.menu li:first-child {
  display: block;
  margin-right: auto;
  padding: 0;
}

.menu a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
}

.logo {
  height: 2rem;
  margin-top: 0.7rem;
}

#nav-checkbox:checked ~ ul.menu li {
  display: block;
}

#nav-checkbox:checked ~ label.toggle .close {
  display: block;
}

#nav-checkbox:checked ~ label.toggle .menu {
  display: none;
}

@media screen and (min-witdh: 365px) {
  .toggle {
    display: none;
  }
  .menu {
    flex-direction: row;
  }
  .menu li {
    display: none;
  }
}
.home-page {
  color: #333;
}

.hero__title {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: -10px;
}

.hero__subtitle {
  text-align: center;
  font-size: 20px;
  color: rgb(160, 160, 160);
  margin-bottom: 20px;
}

.home-airplane__image {
  width: 100%;
  margin-bottom: 10px;
}

.home-about-us {
  margin-top: 35px;
  text-align: center;
}

.about-us__title {
  font-size: 30px;
}

.about-us__description {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .home-airplane__image {
    height: 360px;
    margin-top: 25px;
  }
  .hero__title {
    font-size: 65px;
  }
  .hero__subtitle {
    margin-top: 15px;
    font-size: 25px;
  }
  .home-about-us {
    margin-top: 15px;
  }
  .about-us__title {
    font-size: 35px;
  }
  .about-us__description {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .home-airplane__image {
    height: 385px;
    margin-top: 15px;
  }
  .hero__title {
    font-size: 70px;
    margin-top: 30px;
  }
  .hero__subtitle {
    margin-top: 10px;
    font-size: 30px;
  }
  .home-about-us {
    margin-top: 15px;
  }
  .about-us__title {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .about-us__description {
    margin-left: 155px;
    margin-right: 155px;
    font-size: 25px;
  }
}
.hotelQ_form {
  height: auto;
  width: auto;
  margin: auto;
  padding: 27px 60px;
  background: #fff;
}

.hotelQ_title {
  border-bottom: 2px solid #1161ed;
  padding-left: 12px;
  font-size: 22px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
  text-align: center;
}

.hotelQ_subtitle {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4;
  display: inline-block;
  position: relative;
  top: -55px;
  left: 15px;
  transition: all 0.5s ease-in-out;
}

.hotelQ_subtitle-1 {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.4;
  display: inline-block;
  position: relative;
  top: -94px;
  left: 15px;
  transition: all 0.5s ease-in-out;
}

.hotelQ_input {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  background: #EEEEEE;
  border: 2px solid rgba(255, 255, 255, 0);
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 7px;
}

.hotelQ_input-1 {
  width: 90%;
  height: 80px;
  border-radius: 20px;
  background: #EEEEEE;
  border: 2px solid rgba(255, 255, 255, 0);
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  color: #000;
  padding: 7px;
}

.hotelQ_btn {
  background-color: #1161ed;
  color: #FFF;
  width: 90%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.logIn_container {
  font-weight: 500;
  width: auto;
}

.logIn_form {
  width: auto;
  background: #FFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #ff962f;
}

.logIn_title {
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
}

.logIn_title:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #000;
  left: 0;
}

.logIn_subtitle {
  display: flex;
  font-size: 18px;
  color: cadetblue;
}

.logIn_btns-form {
  display: grid;
  gap: 0.8rem;
  border-radius: 5px;
  outline: none;
  margin-top: 25px;
}

.logIn_input {
  position: relative;
  width: 100%;
  padding: 20px 12px 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.logIn_a {
  float: right;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.logIn_label {
  visibility: hidden;
}

.logIn_btn {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.logIn_btn-changes {
  background-color: #ff962f;
  color: #FFF;
}

.logIn_btn-changes1 {
  background-color: #FFF;
  color: #ff962f;
  border: #ff962f solid 1px;
}

.logIn_span {
  display: flex;
  text-align: center;
  width: 100%;
  color: #ff962f;
}

.logIn_span::before,
.logIn_span::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  margin: auto;
}

.logIn_span::before {
  margin-left: 10px;
}

.logIn_span::after {
  margin-right: 10px;
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  .logIn_container {
    display: grid;
    place-content: center;
  }
  .logIn_form {
    display: grid;
    width: 72vh;
    height: 662px;
    align-items: center;
  }
  .logIn_title {
    font-size: 50px;
  }
  .logIn_subtitle {
    font-size: 25px;
  }
  .logIn_label {
    font-size: 16px;
    visibility: visible;
  }
  .logIn_input {
    height: 3rem;
  }
  #input::-moz-placeholder {
    visibility: hidden;
  }
  #input:-ms-input-placeholder {
    visibility: hidden;
  }
  #input::placeholder {
    visibility: hidden;
  }
  .logIn_a {
    font-size: 20px;
    text-align: right;
  }
  .logIn_span {
    font-size: 24px;
  }
  .logIn_btn {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .logIn_container {
    display: grid;
    place-content: center;
  }
  .logIn_form {
    width: 87vh;
    height: 100vh;
  }
  .logIn_title {
    font-size: 60px;
  }
  .logIn_subtitle {
    font-size: 30px;
    margin-bottom: 16px;
  }
  .logIn_label {
    font-size: 20px;
    visibility: visible;
  }
  .logIn_input {
    height: 8vh;
  }
  #input::-moz-placeholder {
    visibility: hidden;
  }
  #input:-ms-input-placeholder {
    visibility: hidden;
  }
  #input::placeholder {
    visibility: hidden;
  }
  .logIn_a {
    font-size: 30px;
    margin-top: 18px;
  }
  .logIn_btns-form {
    width: 100%;
    margin-top: 70px;
  }
  .logIn_btn {
    height: 12vh;
    font-size: 2rem;
  }
  .logIn_span {
    font-size: 30px;
  }
}
.list__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 29px;
  color: #333333;
  text-align: center;
}

.list-container {
  display: grid;
  width: auto;
}

.list-general {
  width: auto;
  display: grid;
  place-content: center;
  margin-bottom: 12px;
}

.list__symbol {
  width: 100%;
}

.list__text {
  font-weight: 500;
  font-size: 18px;
  width: auto;
  color: #333333;
  margin-left: 10px;
}

.list__btn {
  width: 147px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2196f3;
  border: 1px solid transparent;
  margin-top: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 10px;
}

.main-container .main-tittle {
  text-align: 9rem;
}

body {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=style.css.map */