
@import'../breakpoints/media';

.banner-container{
  width: auto;
  display: grid;
  justify-content: center;
}

.banner__title {
  width: auto;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-align: center;
}

.banner__image{
  width: 100%;
}

.banner__subtitle{
  font-weight: 600;
  font-size: 24px;
  width: 90%;
  text-align: center;
  color: #333333;
}

.banner__text{
  font-weight: 500;
  width: 87%;
  font-size: 15px;
  color: #333333;
  text-align: center;
  margin-left: 15px;
}

@include tablet {
  .banner__title {
    font-size: 28px;
  }

  .banner__subtitle{
    font-size: 28px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .banner__text{
    width: 44%;
  }
}

@include desktop {
  .banner__title {
    font-size: 35px;
  }
  
  .banner__subtitle{
    font-size: 40px;
    margin-top: 65px;
  }

  .banner__text{
    font-size: 19px;
    margin-top: 25px;
  }
}