.button--form{
  display: grid;
  place-content: center;
  width: auto;
}

.button-container{
  width: 140px;
  height: 35px;
  font-size: 25px;
  border-radius: 5px;
  background-color: #9999;
  border: 1px solid transparent;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}
