@import'../components/breakpoints/media';

.card-container{
  display: grid;
}

.card-general{
  width: auto;
  border: 1px solid #000;
  display: grid;
  place-content: center;
  margin-bottom: 10px;
}

.card__imagen{
  width: 100%;
}

.card__text{
  font-weight: 500;
  font-size: 14px;
  width: auto;
  color: #333333;
  text-align: center;
}

@include tablet {

    .card-container {
      display: flex;
      column-gap: 12px;
  }
  
  .card-general {
      width: 208px;
      border: 1px solid #000;
      height: 415px;
}

.card__text{
  font-size: 20px;
  width: auto;


}

}
