li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}

.home__footer{
  width: 100%;
  height: 90vh;
  display: grid;
  justify-content: center;
  background-color: #4F9ABF;
  color: #fff;
}

.logo--size {
  width: 30px;
}