@import'../components/breakpoints/media';

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.nav__header{
	background-color: #eeee;
	padding-inline: 2rem;
	margin-bottom: 20px;
}

.toggle{
	position: absolute;
	top: 0.7rem;
	right: 1rem;
	cursor: pointer;
}

.toggle .menu{
	height: 2rem;
	margin-top: 0.2rem;
}

.toggle .close{
	display: none;
	height: 2.3rem;
}

.nav-checkbox{
	display: none;
}

.menu{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu li{
	display: none;
	padding: 1rem;
	list-style: none;
}

.menu li:first-child{
	display: block;
	margin-right: auto;
	padding: 0;
}

.menu a{
	color: inherit;
	font-size: 1.2rem;
	text-decoration: none;
}

.logo{
	height: 2rem;
	margin-top: 0.7rem;
}

#nav-checkbox:checked~ul.menu li{
	display: block;
}

#nav-checkbox:checked~label.toggle .close{
	display: block;
}

#nav-checkbox:checked~label.toggle .menu{
	display: none;
}

@media screen and (min-witdh: 365px){
	.toggle{
		display: none;
	}

	.menu{
		flex-direction: row;
	}

	.menu li{
		display: none;
	}
}

