body {
  margin: 0;
  font-family: sans-serif;
}

.header__logo {
  width: 100px;
  position: relative;
  bottom: 235px;
}

.menu__image {
  max-width: 100%;
}

.toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  filter: invert(1);
  cursor: pointer;
  width: 40px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

.main-menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4F9ABF;
  transition: transform 0.3s;
  transform: translateY(-100%);
}

.main-menu--show {
  transform: translateY(0);
}

.toggle-menu__checkbox {
  display: none;
}

.toggle-menu__checkbox:checked + .main-menu {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}

.main-menu__item {
  padding: 1em;
}

.main-menu__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}